.testimonials {
  background-color: var(--green-color);
}

.testimonials .testimonials__wrapper {
  max-width: 1200px;
  margin: 0 auto;
  padding-bottom: 2rem;
}

.testimonials .testimonials__title {
  text-align: center;
  padding: 2rem;
  color: white;
  font-family: var(--secondary-font);
  font-size: 4rem;
  font-weight: normal;
}
